<span *ngIf="test">
    <div class="row" *ngFor="let results of test.results; index as i">
        <div class="col-12 unselectable">
        <div class="card mt-3 border border-secondary" id={{i+1}} appScrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
            <div class="card-header bg-dark text-white">
            Question : {{i+1}}
            </div>
            <div class="card-body">
                <h6 class="card-title">{{test.results[i].category}}</h6>
                <p class="card-text">{{test.results[i].question | safeHtml}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" [ngClass]="highlightAns(userAns.answers[i], test.results[i].correct_answer | safeHtml, test.results[i].incorrect_answers[0] | safeHtml)">{{test.results[i].incorrect_answers[0] | safeHtml}}</li>
                <li class="list-group-item" [ngClass]="highlightAns(userAns.answers[i], test.results[i].correct_answer | safeHtml, test.results[i].incorrect_answers[1] | safeHtml)">{{test.results[i].incorrect_answers[1] | safeHtml}}</li>
                <li class="list-group-item" [ngClass]="highlightAns(userAns.answers[i], test.results[i].correct_answer | safeHtml, test.results[i].incorrect_answers[2] | safeHtml)" *ngIf="test.results[i].type==='multiple'">{{test.results[i].incorrect_answers[2] | safeHtml}}</li>
                <li class="list-group-item" [ngClass]="highlightAns(userAns.answers[i], test.results[i].correct_answer | safeHtml, test.results[i].incorrect_answers[3] | safeHtml)" *ngIf="test.results[i].type==='multiple'">{{test.results[i].incorrect_answers[3 | safeHtml]}}</li>
            </ul>
        </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body text-center">
            <h5 class="card-title">You Scored {{userAns.score / test.results.length * 100 | number:'1.0-0'}}%</h5>
            <div class="crop card-text mx-auto mb-3" [style.width.em]="(userAns.score / test.results.length) * 16.75">
                <div>
                    <span class="fas fa-star fa-3x"></span>
                    <span class="fas fa-star fa-3x"></span>
                    <span class="fas fa-star fa-3x"></span>
                    <span class="fas fa-star fa-3x"></span>
                    <span class="fas fa-star fa-3x"></span>
                </div>
            </div>
            <a [routerLink]="['/play']" class="btn btn-primary mr-3">Play Again</a>
            <a [routerLink]="['/welcome']" class="btn btn-primary">Quiz Setup</a>
        </div>
    </div>
</span>