<div class="row">
    <div class="col-12">
      <div class="card mt-3">
        <div class="card-header bg-dark text-white">
          Question : 1
        </div>
        <div class="card-body">
          Message from Service : {{message}} <br>
          <h5 class="card-title">Science & Nature</h5>
          <p class="card-text">How many degrees Fahrenheit is 100 degrees Celsius? </p>
        </div>
        <ul class="list-group list-group-flush">
          <button type="button" class="list-group-item btn btn-light btn-block">Cras justo odio</button>
          <button type="button" class="list-group-item btn btn-light btn-block">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item btn btn-light btn-block">Vestibulum at eros</button>
          <button type="button" class="list-group-item btn btn-light btn-block">Dapibus ac facilisis in</button>
        </ul>
      </div>
    </div>
  </div>